#include "ids.h" 
#include <winuser.h>

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "uninstall.exe.manifest"

1 VERSIONINFO
FILEVERSION     1,2,1,0
PRODUCTVERSION  1,2,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "FileDescription", "Uninstaller for Conquer"
      VALUE "FileVersion", "1.2.1"
      VALUE "InternalName", "uninstall.exe"
      VALUE "LegalCopyright", "MIT-License"
      VALUE "OriginalFilename", "uninstall.exe"
      VALUE "ProductName", "Conquer"
      VALUE "ProductVersion", "1.2.1"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
