Conquer/.*
Conquer/.classpath
Conquer/.project
Conquer/.settings/
Conquer/bin/
ConquerFrontend/.*
ConquerFrontend/.classpath
ConquerFrontend/.project
ConquerFrontend/.settings/
ConquerFrontend/bin/
ConquerFrontend/music/
Launcher/.cproject
Launcher/.project
Launcher/.settings/
Launcher/cJSON
Launcher/launcher
Launcher/libcjson.a
ScenarioGenerator/.*
ScenarioGenerator/.classpath
ScenarioGenerator/.project
ScenarioGenerator/.settings/
ScenarioGenerator/bin/
conquer-dist/
docs/Documentation.aux
docs/Documentation.log
docs/Documentation.pdf
docs/_minted_Documentation/
