*.class
*.data
*.deb
*.deps
*.exe
*.jar
*.o
*.ogg
*.vapi
*.wav
*.zip
.classpath
.gradle
.project
.settings/
Conquer/.*
Conquer/.classpath
Conquer/.project
Conquer/.settings/
Conquer/bin/
ConquerFrontend/.*
ConquerFrontend/.classpath
ConquerFrontend/.project
ConquerFrontend/.settings/
ConquerFrontend/bin/
ConquerFrontend/music/
ConquerFrontendSPI/.classpath
ConquerFrontendSPI/.project
ConquerFrontendSPI/.settings
ConquerTest/.*
ConquerTest/.classpath
ConquerTest/.project
ConquerTest/.settings/
ConquerTest/bin/
Installer/Conquer.license
Installer/Installer.exe
Installer/LICENSE.txt
Installer/bin/
Installer/uninstall.exe
Launcher/.cproject
Launcher/.project
Launcher/.settings/
Launcher/Conquer.license
Launcher/LICENSE.txt
Launcher/cJSON
Launcher/conquer_launcher
Launcher/launcher
Launcher/libcjson.a
Launcher_vala/src/gen/*.vala
ScenarioGenerator/*.png
ScenarioGenerator/.*
ScenarioGenerator/.classpath
ScenarioGenerator/.project
ScenarioGenerator/.settings/
ScenarioGenerator/bin/
auxiliary/conquer
bin
build
conquer-dist/
core
debs/conquer
debs/conquer-default-music/
debs/conquer-default-scenarios/
debs/conquer-default/
debs/conquer-engine
debs/conquer-gui
debs/conquer-sdk
depreview/depreview
dist
docs/Documentation.aux
docs/Documentation.log
docs/Documentation.out
docs/Documentation.pdf
docs/Documentation.toc
docs/_minted-Documentation/
/docs/
