*.class
*.data
*.deb
*.deps
*.exe
*.jar
*.o
*.ogg
*.vapi
*.wav
*.zip
*.iml
*.ipr
.classpath
.gradle
.project
.settings/
.idea/
Conquer/.*
Conquer/.classpath
Conquer/.project
Conquer/.settings/
Conquer/bin/
ConquerFrontend/.*
ConquerFrontend/.classpath
ConquerFrontend/.project
ConquerFrontend/.settings/
ConquerFrontend/bin/
ConquerFrontend/music/
ConquerFrontendSPI/.classpath
ConquerFrontendSPI/.project
ConquerFrontendSPI/.settings
ConquerTest/.*
ConquerTest/.classpath
ConquerTest/.project
ConquerTest/.settings/
ConquerTest/bin/
Launcher/.cproject
Launcher/.project
Launcher/.settings/
Launcher/Conquer.license
Launcher/Installer.exe
Launcher/LICENSE.txt
Launcher/conquer_launcher
Launcher/data
Launcher/data.zip
Launcher/src/gen/*.vala
Launcher/uninstall.exe
ScenarioGenerator/*.png
ScenarioGenerator/.*
ScenarioGenerator/.classpath
ScenarioGenerator/.project
ScenarioGenerator/.settings/
ScenarioGenerator/bin/
auxiliary/conquer
bin
build
conquer-dist/
core
debs/conquer
debs/conquer-default-music/
debs/conquer-default-scenarios/
debs/conquer-default/
debs/conquer-engine
debs/conquer-gui
debs/conquer-sdk
depreview/depreview
dist
docs/Documentation.aux
docs/Documentation.log
docs/Documentation.out
docs/Documentation.pdf
docs/Documentation.toc
docs/_minted-Documentation/
