[Desktop Entry]
Encoding=UTF-8
Version=1.5
Terminal=false
Name=Conquer
GenericName=Round-based strategy game
Exec=/usr/bin/conquer_launcher
Icon=application-default-icon
